<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-me-footer&amp;settings=users||1--plugins||1--settings||1--languages||1--hooks||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^action/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?actions={R:1}&amp;settings=users||1--plugins||1--settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^members(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-members-footer&amp;settings=users||1--plugins||1--settings||1--languages||1--hooks||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^loja(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-loja-footer&amp;settings=users||1--plugins||1--settings||1--languages||1--hooks||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^registro(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=registro&amp;settings=settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^login(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?actions=login&amp;settings=users||1--plugins||1--settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^homes(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-homes-footer&amp;settings=users||1--plugins||1--settings||1--languages||1--homes||1--hooks||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="false">
                    <match url="^home/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-home-footer&amp;settings=users||1--settings||1--languages||1--homes||1--hooks||1nomeusuario={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^homes/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=homes&amp;nomeusuario={R:1}&amp;settings=users||1--plugins||1--settings||1--languages||1--homes||1--hooks||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^staff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-staff-footer&amp;settings=users||1--plugins||1--settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^community(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-community-footer&amp;settings=users||1--plugins||1--settings||1--languages||1--hooks||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^safety(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-safety-footer&amp;settings=users||1--plugins||1--settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^safetybr(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-safetybr-footer&amp;settings=users||1--plugins||1--settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^shop(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=header-shop-footer&amp;settings=users||1--plugins||1--settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?pages=client&amp;settings=users||1--settings||1--languages||1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^return(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./facebooklog.php" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^logout_ok(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?actions=logout" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^logout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?actions=logout" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^web-gallery/(..*?)$" ignoreCase="false" />
                    <action type="Rewrite" url="./gallery/web-gallery/{R:1}" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^facebook/(..*?)$" ignoreCase="false" />
                    <action type="Rewrite" url="./public/facebook/{R:1}" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^user/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./photo/okay.php?get=user&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^carding/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./photo/images/cards/{R:1}.png" />
                </rule>
                <rule name="Imported Rule 24">
                    <match url="^carding2/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./photo/images/cards/{R:1}" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^cards/selfie/entries/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./photo/okay.php?get=card&amp;background={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^postcards/selfie/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./photo/okay.php?get=selfie&amp;bg={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^cards/selfie(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./photo/scripts/in.html" />
                </rule>
                <rule name="Imported Rule 30">
                    <match url="^acp(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./gallery/acp/index.php" />
                </rule>
                <rule name="Imported Rule 31">
                    <match url="^acp/w/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./gallery/acp/{R:1}" />
                </rule>
                <rule name="Imported Rule 32">
                    <match url="^acp/p/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./gallery/acp/index.php?p={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 33">
                    <match url="^lamariaefeia/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./gallery/game/{R:1}" />
                </rule>
                <rule name="Imported Rule 34">
                    <match url="^settings.ini" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Imported Rule 35">
                    <match url="^setup/install.sql" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Imported Rule 36">
                    <match url="^application/" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Imported Rule 37">
                    <match url="^CORE.php" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Imported Rule 38">
                    <match url="^public/hooks/" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
				               <rule name="Imported Rule 1-1">
                    <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2-1">
                    <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="UFA">
                    <match url="^account/disconnected(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Espanhol">
                    <match url="^es(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?language=es_ES" />
                </rule>
                <rule name="English">
                    <match url="^en(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?language=en_US" />
                </rule>
                <rule name="Portugues">
                    <match url="^br(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php?language=pt_BR" />
                </rule>
            </rules>
        </rewrite>
		<httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
        </httpErrors>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>
